/* *Paleta de color */

:root {
    --purple: rgba(110, 0, 118, 1);
    --indigo: rgba(75, 36, 99, 1);
    --dark-gray: #22262d;
    --gold: #d5a521;
}

html {
    font-size: 62.5%;
    /* *Reset de REM » 62.5% de 16px = 10px*/
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit !important;
    margin-top: 0;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

img, embed {
    max-width: 100%;
    /* Recomendable 100% para que imagen se ajuste a contenedor*/
}

/* *Globales */

.container-width {
    max-width: 75%;
}

/* *Utilidades */

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.fs-small {
    font-size: small
}

.fs-medium {
    font-size: medium;
}

.fs-large {
    font-size: large;
}

.fs-xlarge {
    font-size: x-large;
}

.fst-bold {
    font-style: bold;
}

.fst-italic {
    font-style: italic;
}

/* * Header */

.container-width.fixed-top {
    max-width: 85%;
}

.top-header {
    width: 100%;
    padding: 1.5rem 0 !important;
    position: fixed top;
    background: rgb(213, 165, 33);
    background: -moz-radial-gradient(circle, rgba(213, 165, 33, 1) 0%, rgba(110, 0, 118, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(213, 165, 33, 1) 0%, rgba(110, 0, 118, 1) 100%);
    background: radial-gradient(circle, rgba(213, 165, 33, 1) 0%, rgba(110, 0, 118, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5a521", endColorstr="#6e0076", GradientType=1);
}

.bar-header {
    max-height: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-gray);
}

.bar-header a {
    max-width: 30%;
}

.navbar-spacing {
    display: flex;
    justify-content: space-between;
}

.navbar-spacing a {
    margin: 0 1rem;
}

/* TODO Login (Main)*/

.container-height {
    margin-top: 7rem;
    /* TODO Hacer Script para el margen del contenedor*/
}