/* *Paleta de color */
:root{
    --purple: rgba(110, 0, 118, 1);
    --indigo: rgba(75, 36, 99, 1);
    --dark-gray: #22262d;
}

html {
    font-size: 62.5%;
    /* *Reset de REM » 62.5% de 16px = 10px*/
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit !important;
    margin-top: 0 !important;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

img, embed {
    max-width: 100%;
    /* Recomendable 100% para que imagen se ajuste a contenedor*/
}

/* *Globales */

.container-width {
    max-width: 80%;
}

/* *Utilidades */

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.fs-small {
    font-size: small
}

.fs-medium {
    font-size: medium;
}

.fs-large {
    font-size: large;
}

.fs-xlarge {
    font-size: x-large;
}

.fst-bold {
    font-style: bold;
}

.fst-italic {
    font-style: italic;
}

/* * Header */

.page-header {
    position: -webkit-sticky;
    position: sticky;
    bottom: 100%;

    /*TODO Hacer que esté alwaysOnTop*/
}

.top-header {
    height: 100%;
    padding: 1.5rem 0 !important;
    background: rgb(110, 0, 118);
    background: linear-gradient(90deg, rgba(110, 0, 118, 0) 0%, var(--purple) 50%, var(--indigo) 100%);
}

.bar-header {
    max-height: 100%;
    margin: 1rem 0;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-gray);
}

.bar-header a {
    max-width: 30%;
}

.navbar-spacing {
    display: flex;
    justify-content: space-between;
}

.navbar-spacing a {
    margin: 0 1rem;
}

/* TODO Login*/